<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Head START -->
<div th:replace="fragments/head :: head"/>
<!-- Head END -->
<body >
  <!-- Site wrapper START-->
  <div class="wrapper" >
    <!-- TOP Menu START -->
    <div th:replace="fragments/topmenu :: topmenu"/>
    <!-- TOP Menu END -->

      <!--  ******** ABOVE CODE SAME FOR ALL ********* -->

      <!-- Main content START  -->
      
      <section class="content" >
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h4 class="text-center"> <b> Country List</b> </h4> 
						<div class="alert alert-success"
							th:if="${successMessage != null}">
							<strong>Success! </strong>
							<div th:text="${successMessage}" />
						</div>
						<div class="alert alert-danger" th:if="${errorMessage != null}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Failure! </strong>
							<div th:text="${errorMessage}" />
						</div>
					</div>
					<!-- /.box-header -->
					
					<div class="box-body">
						<table id="corporatePackageDatatable" class="table table-bordered table-striped nowrap"  width="100%">
						    <thead>
							    <tr bgcolor="#A3CB38">
							    	<th>SL.</th>
							        <th>Id</th>
							        <th>Country Name</th>
							        <th>Operations</th>
							    </tr>
						    </thead>
						    <tbody>
						    <tr th:each="country, itrDept : ${countries}">
						        <td th:text="${itrDept.index + 1}">Index</td>
						        <td th:text="${country.countryId}">Country Id</td>
						        <td th:text="${country.countryName}">Country Name</td>
						        <td>
						            <a th:href="@{/country-update.html(countryId=${country.countryId})}" class='btn btn-default btn-circle'><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color: orange;"></span></a>
						            <span>|</span>
						            <a th:href="@{/country-delete.html(countryId=${country.countryId})}" class='btn btn-default btn-circle'><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red;"></span></a>
						        </td>
						    </tr>
						    </tbody>
						    <tfoot>
							    <tr bgcolor="#A3CB38">
							    	<th>SL.</th>
							        <th>Id</th>
							        <th>Country Name</th>
							        <th>Operations</th>
							    </tr>
						    </tfoot>
						</table>
					    

					</div>
						<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
      
      </section>
      
      <!-- Main content END  -->


      <!--  ********  BELOW CODE SAME FOR ALL ********* -->

    <!-- ===================##### Main contain goes here END ============================ -->

    <!-- =============================================== -->
    <!-- Footer START -->
    <div th:replace="fragments/footer :: footer"/>
    <!-- Footer END -->
  </div>
  <!-- Site wrapper END -->
  <!-- common script START -->
  <div th:replace="fragments/commonscripts :: commonscripts"/>
  <!-- common script END -->
  <!-- DataTables -->
	<script src="resources/js/lib/jquery.dataTables-1.10.12.js"></script>
	<script src="resources/js/lib/dataTables.bootstrap-1.10.12.js"></script>
	<!-- Date picker -->
	<script src="resources/js/lib/moment-2.18.1.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
	$(function () {
	    var table = $("#corporatePackageDatatable").DataTable({
	        responsive: true
	    });
	    new $.fn.dataTable.FixedHeader( table );
	});
	</script>
</body>
</html>
