<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Head START -->
<div th:replace="fragments/head :: head"/>
<!-- Head END -->
<body >
  <!-- Site wrapper START-->
  <div class="wrapper" >
    <!-- TOP Menu START -->
    <div th:replace="fragments/topmenu :: topmenu"/>
    <!-- TOP Menu END -->

      <!--  ******** ABOVE CODE SAME FOR ALL ********* -->

      <!-- Main content START  -->
      
      <section class="content" >
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h4 class="text-center"> <b> Add Country  </b> </h4> 
						<div class="alert alert-success"
							th:if="${successMessage != null}">
							<strong>Success! </strong>
							<div th:text="${successMessage}" />
						</div>
						<div class="alert alert-danger" th:if="${errorMessage != null}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Failure! </strong>
							<div th:text="${errorMessage}" />
						</div>
					</div>
					<!-- /.box-header -->
					<form class="form-horizontal" action="#" method="post" data-th-action="@{/country-add-save.html}" th:object="${country}">
						<div class="box-body">
							<div class="form-group hidden">
						        <label for="countryId" class="col-sm-3 control-label">Country ID:</label>
						        <div class="col-sm-5">
						            <input type="text" name="countryId" th:field="*{countryId}" class="form-control" id="countryId" readonly="readonly" />
						        </div>
						    
						    </div>
						    
						    <div class="form-group">
						        <label for="countryName" class="col-sm-3 control-label">Country Name:</label>
						        <div class="col-sm-5">
						            <input type="text" name="countryName" th:field="*{countryName}" onchange="checkDuplicate()" 
						            		class="form-control" id="countryName" pattern="[a-zA-Z\s]+" title="only charecters input" autocomplete="off" required="required" placeholder="Country Name"/>
						        </div>
						    	<div class="col-sm-4 errorClass">
						            <td th:if="${#fields.hasErrors('countryName')}" th:errors="*{countryName}">Name is invalid</td>
						        </div>
						    </div>
						    

						</div>
						<!-- /.box-body -->
						<div class="box-footer">
					        <button type="reset" class="btn btn-default" name="action" value="cancel">Cancel</button>
					        <button type="submit" class="btn btn-info pull-right" name="action" value="update">Save</button>
					    </div>
						<!-- /.box-footer -->
					</form>
					<!-- form end  -->
				</div>
				<!-- /.box -->
			</div>
		</div>
      
      </section>
      
      <!-- Main content END  -->


      <!--  ********  BELOW CODE SAME FOR ALL ********* -->

    <!-- ===================##### Main contain goes here END ============================ -->

    <!-- =============================================== -->
    <!-- Footer START -->
    <div th:replace="fragments/footer :: footer"/>
    <!-- Footer END -->
  </div>
  <!-- Site wrapper END -->
  <!-- common script START -->
  <div th:replace="fragments/commonscripts :: commonscripts"/>
  <!-- common script END -->
  <!-- DataTables -->
	<script src="resources/js/lib/jquery.dataTables-1.10.12.js"></script>
	<script src="resources/js/lib/dataTables.bootstrap-1.10.12.js"></script>
	<!-- Date picker -->
	<script src="resources/js/lib/moment-2.18.1.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
	// ajex call
	// duplication country name alert
    function checkDuplicate(){
		
		  // getting input value
    	  var countryName = $('#countryName').val();
    	  
    	  $.ajax({
    		  type:'POST',
    		  data:{countryName},
    		  url:'getCountryName',
    		  //datatype:'json',
    		  success: function(result){
    			  if(result!="No"){
    				  alert(result);
    				  $('#countryName').val("");
    			  }
    		  }
    	  });
      }
	</script>
</body>
</html>
